Hello <%= name %>! You are currently <%= age %> and looking beautiful! Just out of curiousity, what is your hair color?

<form method="post" action="/hair">
	<input type = "text", name = "user_hair">
	<input type = "submit">
</form>