Hello awesome Charleston class! Great to be here today! Can you tell me your name?

<form method = "post" action = "/name">
	<input type = "text" name = "user_name">
	<input type = "submit">
</form>
