<%= Name =>, what are your three favorite numbers?

<form method = "post" action = "/numbers">
	<input type = "number" name = "user_number_1">
	<input type = "submit">
	<input type = "number" name = "user_number_2"
	<input type = "submit">
	<input type = "number" name = "user_number_3"
	<input type = "submit"
	<input type = "hidden" name = "user_name" value = <%= Name => >
	
</form>
